<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Buscagio</h5>
            <p class="grey-text text-lighten-4">Sistema de Oferta de Estágios!</p>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2017 Copyrigth
    </div>
</div>