<#import "../layout/layout.ftl" as layout>

<@layout.layout_padrao title="CADASTRO" header="header.ftl">
         <div class="section"></div><div class="section"></div>
        <div class="container">
          <div class="card-panel grey lighten-3 row z-depth-3" >
            <div class="row">
              <div class="input-field col s6">
                    <input id="nomeCompleto" type="number" class="validate">
                    <label for="icon_prefix">CPF</label>
                </div>
              
              <div class="input-field col s6">
                    <input id="nomeCompleto" type="text" class="validate">
                    <label for="icon_prefix">Nome</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="tel" class="validate">
                    <label for="icon_telephone">Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="password" type="number" class="validate">
                    <label for="password">Telefone</label>
                </div>
            </div>
      
            <div class="row">
                <div class="input-field col s6">
                    <input id="cidade" type="tel" class="validate">
                    <label for="icon_telephone">Cidade</label>
                </div>
                <div class="input-field col s6">
                    <input id="estado" type="tel" class="validate">
                    <label for="icon_telephone">Estado</label>
                </div>
            </div>
      
            <div class="row">
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate">
                    <label for="password">Senha</label>
                </div>
                
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate">
                    <label for="password">Confimar senha</label>
                </div>
                
                
            </div>
            <a class="waves-effect waves-light btn indigo"><i class="material-icons left">cloud</i>Cadastrar</a>
            <a class="waves-effect waves-light btn indigo">voltar</a>
        </div>
          </div>
</@layout.layout_padrao>