<#assign title="Example">
<!DOCTYPE html>
<html>
  <head>
    <title>${title}</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
  <body>
    <div class="container">
      <form class="col s12" method="post">
        <div class='row'>
          <div class='col s12'>
            </div>
          </div>
        </form>
      </div>

    </body>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/bin/materialize.min.js"></script>

  </html>
